# environment
.env
.env*.local
!.env.example

# Neon
NEON_AUTH_COOKIE_SECRET=
NEON_AUTH_BASE_URL=
NEON_AUTH_JWKS_URL=
NEON_DATABASE_URL=
NEON_DATABASE_URL_UNPOOLED=
NEON_BRANCH=
DATABASE_URL=
APP_URL=http://localhost:3000
OWNER_EMAIL=
PASSWORD_VAULT_KEY=
LEGACY_PASSWORD_KEY=
