NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
APP_URL=http://localhost:3000
OWNER_EMAIL=
PASSWORD_VAULT_KEY=
LEGACY_PASSWORD_KEY=PCSHSPL-2025-UMBRELLA-SYSTEM-SECURE-KEY-v1.0.0
